@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&display=swap');

:root {
	--primary-color: #3a4052;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: 'Open Sans', sans-serif;
	line-height: 1.5;
}



h1 {
	font-weight: 300;
	font-size: 60px;
	line-height: 1.2;
	margin-bottom: 15px;
	color: aliceblue;
}

h2{
	margin: 10px 0;
}

.locationinput{
	width: 80%;
	border: none;
	background-color: rgb(114, 156, 156);
	height: 30px;
	text-align: center;
	border-radius: 20px;
	font-size: 1.3em;
}

.showcase {
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	color: #fff;
	padding: 0 20px;
}

.video-container {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: var(--primary-color) url('./img/cover.jpg') no-repeat center
		center/cover;
}

.video-container video {
	min-width: 100%;
	min-height: 100%;
  position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	object-fit: cover;
}

.video-container:after {
	content: '';
	z-index: 1;
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.5);
	position: absolute;
}

.content {
	z-index: 2;
}


@media screen and (min-width: 620px){
  
	h1{
		font-size: 100px;
	}
	h2{
		font-size: 37px;
	}
	.locationinput{
		height: 50px;
		font-size: 1.6em;
	}
    
  }

  @media screen and (min-width: 960px){
  
	h1{
		font-size: 100px;
	}
	h2{
		font-size: 65px;
	}
	.locationinput{
		height: 60px;
		font-size: 1.7em;
	}
    
  }

  @media screen and (min-width: 1200px){
  
	h1{
		font-size: 80px;
	}
	h2{
		font-size: 50px;
	}
	.locationinput{
		height: 40px;
		font-size: 2em;
	}
    
  }
 